<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <main class="page">
            <%= require('html-loader!../blocks/header.html') %>
                <div class="main-screen" id="navhome">
                    <div class="main-screen__bg ibg">
                        <img src="img/bg.jpg" alt="">
                    </div>
                </div>
                <div class="content">
                    <!-- <div class="anchor anchor-start" ></div> -->
                    <section class="generation" id="navaboutus">
                        <div class="container">
                            <div class="generation__block block">
                                <div class="block__icon">
                                    <img src="img/icon.png" alt="">
                                </div>
                                <h1 class="block__title">A NEW GENERATION OF VINTAGE BIKE</h1>
                                <div class="block__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>
                            </div>
                        </div>
                    </section>
                    <!--  <div class="anchor" ></div> -->
                    <section class="brands" id="navwork">
                        <div class="brands__row">
                            <div class="brands__column brands__column_b">
                                <a href="#" class="brends__item item">
                                    <span class="item__logo">
                                    <img src="img/Logo1.png" alt="">
                                </span>
                                    <span class="item__image ibg">
                                    <img src="img/rectangle_1.jpg" alt="">
                                </span>
                                </a>
                            </div>
                            <div class="brands__column">
                                <div class="brands__content block">
                                    <div class="block__icon">
                                        <img src="img/iconText.png" alt="">
                                    </div>
                                    <h2 class="block__title">vintage Oliva</h2>
                                    <div class="block__text block__text_j">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                        to make a type specimen book. It has survived.</div>
                                </div>
                                <div class="brands__image ibg">
                                    <img src="img/img02.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="brands brands_rev">
                        <div class="brands__row">
                            <div class="brands__column brands__column_b">
                                <a href="#" class="brends__item item">
                                    <span class="item__logo">
                                    <img src="img/Logo2.png" alt="">
                                </span>
                                    <span class="item__image ibg">
                                    <img src="img/layer12.jpg" alt="">
                                </span>
                                </a>
                            </div>
                            <div class="brands__column">
                                <div class="brands__content block">
                                    <div class="block__icon">
                                        <img src="img/icon2.png" alt="">
                                    </div>
                                    <h2 class="block__title">La Boriosa</h2>
                                    <div class="block__text block__text_j">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                        to make a type specimen book. It has survived.</div>
                                </div>
                                <div class="brands__image ibg">
                                    <img src="img/layer13.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="brands">
                        <div class="brands__row">
                            <div class="brands__column">
                                <a href="#" class="brends__item item">
                                    <span class="item__logo">
                                    <img src="img/Logo3.png" alt="">
                                </span>
                                    <span class="item__image ibg">
                                    <img src="img/layer15.jpg" alt="">
                                </span>
                                </a>
                            </div>
                            <div class="brands__column">
                                <div class="brands__content block">
                                    <div class="block__icon">
                                        <img src="img/icon01.png" alt="">
                                    </div>
                                    <h2 class="block__title">retrò Bike - M. Hulot</h2>
                                    <div class="block__text block__text_j">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                        to make a type specimen book. It has survived.</div>
                                </div>
                                <div class="brands__image ibg">
                                    <img src="img/layer16.jpg" alt="">
                                </div>
                            </div>
                            <div class="brands__column">
                                <a href="#" class="brends__item item">
                                    <span class="item__logo">
                                    <img src="img/Logo3.png" alt="">
                                </span>
                                    <span class="item__image ibg">
                                    <img src="img/layer14.jpg" alt="">
                                </span>
                                </a>
                            </div>
                        </div>
                    </section>
                    <section class="slider carousel">
                        <div class="container">
                            <div class="slider__body">
                                <div class="slider__item active">
                                    <div class="slider__icon"><img src="img/twit.png" alt=""></div>
                                    <h3 class="slider__title">
                                        AOD New York @aod &nbsp;<span class="text-style">/</span> &nbsp;<span class="text-style">35 min</span>
                                    </h3>
                                    <div class="slider__text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.
                                    </div>
                                </div>
                                <div class="slider__item">
                                    <div class="slider__icon"><img src="img/twit.png" alt=""></div>
                                    <h3 class="slider__title">
                                        AOD New York @aod &nbsp;<span class="text-style">/</span> &nbsp;<span class="text-style">35 min</span>
                                    </h3>
                                    <div class="slider__text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.
                                    </div>
                                </div>
                                <div class="slider__item">
                                    <div class="slider__icon"><img src="img/twit.png" alt=""></div>
                                    <h3 class="slider__title">
                                        AOD New York @aod &nbsp;<span class="text-style">/</span> &nbsp;<span class="text-style">35 min</span>
                                    </h3>
                                    <div class="slider__text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="control left">
                            <div class="arrow left"></div>
                        </div>
                        <div class="control right">
                            <div class="arrow right"></div>
                        </div>
                        <div class="slider__dots">
                            <button id="btn-1" class="s-btn btn-active"></button>
                            <button id="btn-2" class="s-btn"></button>
                            <button id="btn-3" class="s-btn"></button>
                        </div>
                    </section>
                    <!-- <div class="anchor" ></div> -->
                    <section class="shop" id="navshop">
                        <div class="shop__body">
                            <div class="shop__column shop__column_b">
                                <div class="shop__block block-shop">
                                    <div class="block-shop__row">
                                        <div class="block-shop__column">
                                            <a href="#" class="block-shop__item block-shop__item_l item">
                                                <span class="item__logo">
                                                <img src="img/Logo4.png" alt="">
                                            </span>
                                                <span class="item__image ibg">
                                                <img src="img/layer19.jpg" alt="">
                                            </span>
                                            </a>
                                        </div>
                                        <div class="block-shop__column">
                                            <a href="#" class="block-shop__item block-shop__item_l item">
                                                <span class="item__logo">
                                                <img src="img/Logo4.png" alt="">
                                            </span>
                                                <span class="item__image ibg">
                                                <img src="img/layer21.jpg" alt="">
                                            </span>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="block-shop__item item">
                                        <span class="item__logo">
                                        <img src="img/Logo4.png" alt="">
                                    </span>
                                        <span class="item__image ibg">
                                        <img src="img/layer20.jpg" alt="">
                                    </span>
                                    </a>
                                </div>
                            </div>
                            <div class="shop__column">
                                <a href="#" class="block-shop__item block-shop__item_b item">
                                    <span class="item__logo">
                                    <img src="img/Logo4.png" alt="">
                                    <span>Shop now</span>
                                    </span>
                                    <span class="item__image ibg">
                                    <img src="img/layer22.jpg" alt="">
                                </span>
                                </a>
                            </div>
                            <div class="shop__column">
                                <a href="#" class="block-shop__item block-shop__item_b item">
                                    <span class="item__logo">
                                    <img src="img/Logo4.png" alt="">
                                    <span>Shop now</span>
                                    </span>
                                    <span class="item__image ibg">
                                    <img src="img/layer25.jpg" alt="">
                                </span>
                                </a>
                            </div>
                            <div class="shop__column shop__column_b">
                                <div class="shop__block block-shop">
                                    <a href="#" class="block-shop__item item">
                                        <span class="item__logo">
                                        <img src="img/Logo4.png" alt="">
                                    </span>
                                        <span class="item__image ibg">
                                        <img src="img/layer23.jpg" alt="">
                                    </span>
                                    </a>
                                    <div class="block-shop__row">
                                        <div class="block-shop__column">
                                            <a href="#" class="block-shop__item block-shop__item_l item">
                                                <span class="item__logo">
                                                <img src="img/Logo4.png" alt="">
                                            </span>
                                                <span class="item__image ibg">
                                                <img src="img/layer24.jpg" alt="">
                                            </span>
                                            </a>
                                        </div>
                                        <div class="block-shop__column">
                                            <a href="#" class="block-shop__item block-shop__item_l item">
                                                <span class="item__logo">
                                                <img src="img/Logo4.png" alt="">
                                            </span>
                                                <span class="item__image ibg">
                                                <img src="img/layer26.jpg" alt="">
                                            </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="shop__footer">
                            <div class="container">
                                <a href="" class="shop__btn">DISCOVER THE SHOP</a>
                            </div>
                        </div>
                    </section>
                    <!--  <div class="anchor anchor-contact" ></div> -->
                    <div class="subscribe" id="navcontact">
                        <div class="container">
                            <div class="subscribe__body">
                                <div class="subscribe__logo">
                                    <img src="img/Logo.png" alt="">
                                </div>
                                <div class="subscribe__label">Stay on the saddle!</div>
                                <form action="#" class="subscribe__form">
                                    <div class="subscribe__input">
                                        <input autocomplete="off" type="text" name="form[]" data-value="enter your email..." class="input req email">
                                    </div>
                                    <div class="subscribe__button">
                                        <button type="submit" class="subscribe__btn">GO</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <%= require('html-loader!../blocks/footer.html') %>
        </main>
    </div>
</body>

</html>